.skills {
	@include z-pos-back();

	display: flex;
	width: 50%;
	padding: 5vw;
	align-items: flex-start;
	justify-content: center;

	&:before {
		@include background-opacity($gray--light);
		@include pos-absolute-wide();
	}

	&__content {
		@include z-pos-front();

		padding: 10px;
	}

	&__title {
		@include skewed(7.5deg);

		display: flex;
		margin-bottom: 4vw;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: '';
			background-color: $white;
			height: 0.5vw;
			width: 7vw;
		}
	}

	&__list {
		display: grid;
		display: -ms-grid;
		grid-template-columns: repeat(3, 1fr);
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-gap: 5vw;

		@include breakpoint('md') {
			grid-template-columns: repeat(4, 1fr);
			-ms-grid-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 4vw;
		}

		@include breakpoint('md+') {
			grid-template-columns: repeat(5, 1fr);
			-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 3vw;
		}

		@include breakpoint('lg') {
			grid-template-columns: repeat(6, 1fr);
			-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 2vw;
		}
	}

	&__item {
		@include skewed(7.5deg);

		cursor: pointer;
		transition: all 0.5s ease-in-out;
		-webkit-filter: blur(0) grayscale(100%);
		-ms-filter: grayscale(100%);
		filter: grayscale(100%);
		backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
		width: 100%;
		height: 100%;
		z-index: 98;
		text-align: center;

		@include breakpoint('lg') {
			grid-template-columns: repeat(6, 1fr);
			width: 3.8vw;
			height: 3.8vw;
		}

		&:hover {
			filter: none;
			transform: skew(7.5deg) scale(2.1);
			z-index: 99;
		}
	}

	@include breakpoint-between( 'sm-', 'sm+') {
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		min-height: 100vh;
		padding: 10vw 8vw;
		grid-auto-rows: 1fr;

		&__content {
			width: 100%;
			padding: 0;
		}

		&__title {
			@include skewed(0);

			font-size: 11.9vw;
			line-height: 9.1vw;
			margin-bottom: 8vw;

			&:after {
				height: 0.7vw;
				width: 15vw;
			}
		}

		&__item {
			@include skewed(0);

			transition: none;
			-webkit-filter: blur(0) grayscale(0);
			-ms-filter: grayscale(0);
			filter: grayscale(0);
			width: 100%;
			height: 100%;

			&:hover {
				transform: skew(0) scale(0);
			}
		}
	}
}
