.story {
	@include z-pos-back();

	display: flex;
	width: 50%;
	padding: 5vw;
	align-items: flex-start;
	justify-content: center;

	&:before {
		@include background-opacity($gray--dark, 0.6);
		@include pos-absolute-wide();
	}

	&__content {
		@include z-pos-front();

		padding: 10px;
	}

	&__title {
		@include skewed(7.5deg);

		display: flex;
		margin-bottom: 4vw;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: '';
			background-color: $white;
			height: 0.5vw;
			width: 7vw;
		}
	}

	&__text {
		margin-top: 1.2vw;

		&:first-child {
			margin-top: 0;
		}
	}

	@include breakpoint-between( 'sm-', 'sm+') {
		width: 100%;
		min-height: 100vh;
		padding: 10vw 8vw;

		&__content {
			padding: 0;
		}

		&__title {
			@include skewed(0);

			font-size: 11.9vw;
			line-height: 9.1vw;
			margin-bottom: 8vw;

			&:after {
				height: 0.7vw;
				width: 15vw;
			}
		}

		&__text {
			margin-top: 5.2vw;
		}
	}
}
