.story {
	@include z-pos-back();

	display: flex;
	width: 50%;
	padding: 90px 185px;
	align-items: flex-start;
	white-space: pre-line;

	&:before {
		@include background-opacity($gray--dark, 0.6);
		@include pos-absolute-wide();
	}

	&__content {
		@include z-pos-front();
		@include skewed(7.5deg);

		padding: 10px;
	}

	&__title {
		display: flex;
		margin-bottom: 100px;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: '';
			width: 100px;
			height: 8px;
			background-color: $white;
		}
	}

	&__text:last-child {
		margin-top: 20px;
	}
}
