.logo {
	display: block;
	width: 48px;
	height: 48px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: rotate(360deg);
		transform-origin: center;
	}

	img {
		width: 100%;
		height: 100%;
	}

	@include breakpoint-between( 'sm-', 'sm+') {
		width: 10vw;
	}
}
