.nav {
	$navIcon: nav__icon;
	$navText: nav__text;

	display: flex;
	flex-direction: column;

	&__item {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		height: 25px;
		text-decoration: none;
		position: relative;

		&--active,
		&:hover {

			.#{$navIcon}--home {
				background-image: svg-url-with-replaced-fill($svg-icon-home, $gray--dark, $blue);
			}

			.#{$navIcon}--about {
				background-image: svg-url-with-replaced-fill($svg-icon-about, $gray--dark, $blue);
			}

			.#{$navIcon}--projects {
				background-image: svg-url-with-replaced-fill($svg-icon-projects, $gray--dark, $blue);
			}

			.#{$navText} {
				display: block;
				opacity: 1;
			}
		}
	}

	&__icon {
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.3s ease-in-out;
		width: 25px;

		&--home {
			background-image: svg-url-with-replaced-fill($svg-icon-home, $gray--dark, $gray--dark);
		}

		&--about {
			background-image: svg-url-with-replaced-fill($svg-icon-about, $gray--dark, $gray--dark);
		}

		&--projects {
			background-image: svg-url-with-replaced-fill($svg-icon-projects, $gray--dark, $gray--dark);
		}
	}

	&__text {
		@include skewed(-7.5deg);
		@include z-pos-back( absolute, -1);

		display: none;
		opacity: 0;
		left: 35px;
		top: -5px;
		font-size: 18px;
		padding: 5px 15px;
		line-height: 28px;
		background-color: $white;
		color: $blue;
		border-right: 2px solid $blue;
		animation: text-anim 1s ease backwards;
	}

	@keyframes text-anim {

		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}
