.details {
	$images : detail__images img;

	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
	right: -$screen--width;
	// right: 0;
	top: 0;
	transition: all 0.3s ease-in-out;
	color: $gray--dark;

	// padding: 100px 100px 100px 200px;
	padding: 10vw 10vw 10vw 20vw;

	&--active {
		right: 0;
	}

	p {
		margin-bottom: 15px;
	}

	&:before {
		@include pos-absolute-wide();

		background-color: $blue;
		opacity: 0.8;
	}

	&__wrapper {
		position: relative;
		background-color: $white;
		display: flex;
		max-width: 1100px;

		// padding: 50px;
		padding: 2.5vw;
		width: 100%;
	}

	&__info,
	&__images {
		width: 50%;
	}

	&__info {
		margin-right: 10px;
	}

	&__images {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 10px;

		img {
			max-width: 100%;
			height: auto;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: scale(1.6);
				box-shadow: 1px 1px 20px $blue--dark;
			}

			&:nth-child( 3 ) {
				grid-column: span 2;
			}
		}
	}

	&__name {
		@include skewed(-7.5deg);

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-transform: uppercase;
		margin-bottom: 20px;
		background-color: $blue;
		color: $white;
		padding: 5px 5px 0 5px;
	}

	&__control {
		@include skewed(-15.5deg);

		display: flex;
		position: absolute;
		right: 20px;
		top: -55px;
		background-color: $white;
		padding: 10px;
	}

	&__icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 60%;
		padding: 15px;
		cursor: pointer;

		&--larrow {
			transform: rotate(180deg);
		}

		&--larrow,
		&--rarrow {
			margin-right: 20px;
			background-image: svg-url-with-replaced-fill($svg-icon-right-arrow, $blue, $gray--dark);

			&:hover {
				background-image: svg-url-with-replaced-fill($svg-icon-right-arrow, $blue, $blue);
			}
		}

		&--close {
			background-image: svg-url-with-replaced-fill($svg-icon-close, $blue, $gray--dark);

			&:hover {
				background-image: svg-url-with-replaced-fill($svg-icon-close, $blue, $blue);
			}
		}
	}
}
