.slider {
	padding: 3vw 15vw;
	overflow: hidden;

	&__list {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 4vw;
		transition: all 0.5s ease;
	}

	&__control {
		width: 100%;
	}

	&__input {
		-webkit-appearance: none;
		width: 100%;
		transition: all 0.5s ease;

		&::-webkit-slider-runnable-track {
			@include range-input-track();
		}

		&::-moz-range-track {
			@include range-input-track();
		}

		&::-ms-track {
			@include range-input-track();
		}

		&::-webkit-slider-thumb {
			@include range-input-thumb();
		}

		&::-moz-range-thumb {
			@include range-input-thumb();
		}

		&::-ms-thumb {
			@include range-input-thumb();
		}

		&:focus {
			outline: none;
		}
	}

	@include breakpoint-between( 'sm-', 'sm+') {
		padding: 0;
		overflow: unset;

		&__list {
			margin-bottom: 10vw;
		}

		&__control {
			display: none;
		}
	}
}
