.social {
	display: flex;
	flex-direction: column;

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		display: flex;
		height: 25px;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 1s ease-in-out;

		&--competa {
			background-image: svg-url-with-replaced-fill($svg-icon-competa, $gray--light, $gray--light);

			&:hover {
				background-image: svg-url-with-replaced-fill($svg-icon-competa, $gray--light, $blue);
			}
		}

		&--github {
			background-image: svg-url-with-replaced-fill($svg-icon-github, $gray--light, $gray--light);

			&:hover {
				background-image: svg-url-with-replaced-fill($svg-icon-github, $gray--light, $blue);
			}
		}
	}
}
