.header {
	@include z-pos-first();

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 30px 17px;
	background-color: $white;
	position: fixed;

	@include breakpoint-between( 'sm-', 'sm+') {
		width: 100vw;
		height: auto;
		flex-direction: row;
		align-items: center;
		padding: 2vw 8vw;
	}
}
