* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	color: $white;
	overflow: hidden;
	scroll-behavior: auto;
}

h1,
h2,
h3 {
	font-family: Teko, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 96px;
	line-height: 84px;
	margin: 30px 0 20px;
}

h2 {
	font-size: 72px;
	line-height: 60px;
}

h3 {
	font-size: 48px;
	line-height: 42px;
	margin: 20px 0 30px;
}

ul {
	list-style: none;
}

#portfolio {
	height: $screen--height;
	width: $screen--width;
}

.container {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
}

@media only screen and ( max-width: 320px ) {

	body {
		font-size: 2em;
	}
}
