.home {
	@include z-pos-back();

	display: flex;
	padding: 140px 140px 140px 240px;
	width: calc(100% - 80px);
	height: 100%;
	align-items: center;
	background: url('./../assets/images/home_bg.jpg') no-repeat center;
	background-size: cover;
	white-space: pre-line;

	&__content {
		@include z-pos-front();

		padding: 10px;
	}

	&__text {
		max-width: 950px;
	}

	&:after {
		@include background-opacity($blue);
		@include pos-absolute-wide();

		z-index: 2;
	}
}
