.home {
	@include z-pos-back();

	display: flex;
	flex: 0 0 auto;
	align-items: center;
	width: 100%;

	// padding: 140px 140px 140px 240px;
	padding: 10vw 10vw 10vw 18vw;
	background: url('./../assets/images/home_bg.jpg') no-repeat center;
	background-size: cover;

	&__content {
		@include z-pos-front();

		width: 80%;
		padding: 10px;
	}

	&__text {
		max-width: 950px;
	}

	&:after {
		@include background-opacity($blue);
		@include pos-absolute-wide();

		z-index: 2;
	}

	@include breakpoint-between( 'sm-', 'sm+') {
		min-height: 100vh;
		padding: 0 8vw;

		&__content {
			@include z-pos-front();

			width: 100%;
			padding: 0;
		}

		&__text {
			max-width: 100%;
		}
	}
}
